<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
</head>
<body>
    <div class="container">
        <a href="{% url 'home' %}" class="back-link">
            <img src="{% static '/imagenes/regresar.png' %}" alt="Regresar" class="back-icon">
            Regresar
        </a>
        <div class="logo">
            <img src="{% static '/imagenes/logo.jpg' %}" alt="Logo">
        </div>
        <h1>Lista de Usuarios Registrados</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Ciudad de Residencia</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Género</th>
                    <th>Nombre de Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.cedula }}</td>
                    <td>{{ usuario.apellidos }}</td>
                    <td>{{ usuario.nombres }}</td>
                    <td>{{ usuario.correo_electronico }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.direccion }}</td>
                    <td>{{ usuario.ciudad_residencia }}</td>
                    <td>{{ usuario.fecha_nacimiento }}</td>
                    <td>{{ usuario.genero }}</td>
                    <td>{{ usuario.username }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

