/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegura que el formulario esté centrado en la pantalla */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Limita el ancho del formulario para hacerlo más pequeño */
    box-sizing: border-box;
    margin: 0 auto; /* Centrado horizontalmente */
}

h2 {
    margin-bottom: 20px;
    color: #0056b3;
}

form {
    width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; /* Espacio más pequeño entre las columnas */
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #333;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #004085;
}

.login-link {
    margin-top: 10px;
    text-align: center;
}

.login-link a {
    color: #0056b3;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}





