{% block content %}
  <div class="profile-container">
    <h2>Perfil de la Secretaria</h2>

    <div class="profile-info">
      <p><strong>Nombre:</strong> {{ secretaria.usuario.nombres }} {{ secretaria.usuario.apellidos }}</p>
      <p><strong>Teléfono:</strong> {{ secretaria.usuario.telefono }}</p>
      <p><strong>Dirección:</strong> {{ secretaria.usuario.direccion }}</p>
    </div>

    <div class="profile-actions">
      <p><a href="{% url 'secretaria:cambiar_contrasena' %}" class="action-link">Cambiar Contraseña</a></p>

      <!-- Botón para cerrar sesión -->
      <form method="post" action="{% url 'secretaria:logout_secretaria' %}">
        {% csrf_token %}
        <button type="submit" class="logout-button">Cerrar sesión</button>
      </form>
    </div>

    <!-- Botón de regresar -->
    <div class="back-button-container">
      <a href="{% url 'secretaria:dashboard_secretaria' %}" class="back-button">Regresar al Dashboard</a>
    </div>
  </div>
{% endblock %}

<style>
  /* General */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Fondo claro para la página */
    color: #333;
    margin: 0;
    padding: 0;
  }

  .profile-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: 2rem;
    color: #2980b9; /* Azul para el título */
    margin-bottom: 20px;
  }

  .profile-info {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }

  .profile-info p {
    margin-bottom: 15px;
  }

  .profile-info strong {
    color: #2980b9; /* Azul para los títulos */
  }

  .profile-actions {
    font-size: 1.2rem;
  }

  .profile-actions a,
  .profile-actions button {
    text-decoration: none;
    font-size: 1rem;
  }

  .action-link {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .action-link:hover {
    color: #1d6fa5; /* Azul más oscuro en hover */
  }

  .logout-button {
    background-color: #2980b9; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .logout-button:hover {
    background-color: #2980b9; 
  }

  /* Estilos para el botón de regresar */
  .back-button-container {
    margin-top: 20px;
    text-align: center;
  }

  .back-button {
    background-color: #2980b9; /* Azul claro para el botón */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .back-button:hover {
    background-color: #1d6fa5; /* Azul más oscuro en hover */
  }
</style>




