{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Registrar Especialidad para el Médico: {{ medico.nombres }} {{ medico.apellidos }}</h2>
        <form method="POST" action="{% url 'registrar_especialidad_medico' medico.id %}">
            {% csrf_token %}

            <!-- Campo Nombre de la Especialidad -->
            <div class="form-group">
                <label for="nombre_especialidad">Nombre de la Especialidad</label>
                <input type="text" name="nombre_especialidad" id="nombre_especialidad" class="form-control" required>
            </div>

            <!-- Campo Descripción -->
            <div class="form-group">
                <label for="descripcion_especialidad">Descripción</label>
                <textarea name="descripcion_especialidad" id="descripcion_especialidad" class="form-control" rows="3" required></textarea>
            </div>

            <!-- Campo Estado -->
            <div class="form-group">
                <label for="estado">Estado</label>
                <select name="estado" id="estado" class="form-control" required>
                    <option value="Activa">Activa</option>
                    <option value="Inactiva">Inactiva</option>
                </select>
            </div>

            <!-- Botón para Registrar -->
            <button type="submit" class="btn btn-primary">Registrar Especialidad</button>
        </form>
    </div>
{% endblock %}
